footer.footer 
  .footer__wrapper 
    p.footer__text 
     | (c) 2023. <a href="http://twitter.com/theAjaNwachuku" rel="nofollow noopener noreferrer" target="_blank">AJ</a> X <a href="http://twitter.com/goody__boy" rel="nofollow noopener noreferrer" target="_blank">Goody</a>. All Rights Reserved, and all Glory to God.