header.header
 .header__wrapper
    ul.header__list 
      li#home.header__item Home
      li.header__item About
      li.header__item Works
      li.header__item Live Feed
      li.header__item Contact Me
      .header__item__highlighter