nav.navigation 
  .navigation__wrapper
    ul.nav__list 
      li#home.nav__item
        a.nav__item__destination(href="/") Home
      li.nav__item About
      li.nav__item 
        a.nav__item__destination(href="/apostles") Apostles
      li.nav__item Works
      li.nav__item Live Feed
      li.nav__item Contact Me
      .nav__item__highlighter