nav.navigation 
  .navigation__hamburger
    .navigation__hamburger__wrapper
      span.navigation__hamburger__meat
      span.navigation__hamburger__meat
      span.navigation__hamburger__meat

  .navigation__screen 
    ul.navigation__screen__wrapper 
      li.navigation__screen__link Home
      li.navigation__screen__link About
      li.navigation__screen__link Works
      li.navigation__screen__link Live Feed
      li.navigation__screen__link Contact Me