nav.navigation 
  .navigation__wrapper
    ul.nav__list 
      li.nav__item.nav__item__active Home
      li.nav__item About
      li.nav__item Apostles
      li.nav__item Works
      li.nav__item Live Feed
      li.nav__item Contact Me