.preloader
  h5.preloader__number 00%
  .preloader__texts
    p.preloader__text Getting lost at the passover ...
    p.preloader__text Flipping tables at the temple ...
    p.preloader__text Calming storms ...
    p.preloader__text Getting betrayed by Judas ...
    p.preloader__text Paying for your sins ...
  .preloader__track 
    .preloader__bar