.home__works__cases 
  .home__work 
    h4.home__work__title Water 
      span.home__work__titling to Wine
    p.home__work__text
      | I and mom, with a few of the guys were attending a wedding in Cana when the host ran out of wine. Mom noticed this and told Me. I asked the servants to fill six large jars with water, and then told them to draw some out and take it to the headwater
    p.home__work__text
      | when the headwaiter tasted the water that had been turned into wine, he was surprised by its quality and asked the groom where he had gotten such good wine. The groom replied that the wine had been provided by the host, who had saved the wine for the last 
      span.home__work__textling 
        | But we all know I did the saving - first wine, then the world
    figure.home__work__media 
      img.home__work__image(src="images/wine__cup.png", alt="")
    p.home__work__reference John 2: 1-11

  .home__work 
    h4.home__work__title Range Healing 
    p.home__work__text
      | I was approached by a centurion, who asked Me to heal his servant, who was paralyzed and in great pain. He believed that I had the power to heal his servant from a distance, and I was shocked
    p.home__work__text
      | I said to those around him, "Truly, I tell you, with no one in Israel have I found such faith." And I said to the centurion, "Go; let it be done fo you as you have believed." His servant was healed that very moment, as he had believed
    figure.home__work__media 
      img.home__work__image(src="images/hands__touching.png", alt="")
    p.home__work__reference Matthew 8: 5-13

  .home__work 
    h4.home__work__title Feeding 5000
    p.home__work__text
      | I was preaching to a large crowd, and I had been for a while. It began to get late and the people were hungry. The guys suggested that I send the crowd away to find food, but I cared about their physical wellbeing as much as their spiritual. So I said that we should feed them.
    p.home__work__text
      | The disciples were perplexed, as they only had five loaves of bread and two fish, which they believed would not be enough to feed such a large crowd. Then I took the loaves and fish and, after giving thanks, distributed them to the crowd. Miraculously, the loaves and fish multiplied and everyone in the crowd was able to eat and be satisfied.
    figure.home__work__media 
      img.home__work__image(src="images/bread.png", alt="")
    p.home__work__reference John 6: 1 - 14

  .home__work 
    h4.home__work__title Walking on Water
    p.home__work__text
      | The guys were travelling by boat across the Sea of Galilee when a strong storm arose, causing the waves to crash over the boat. They went ahead of me, so I walked up to them. On Water. They were scared.
    p.home__work__text
      | Peter asked to walk to me, and I said yes. He began walking towards me. On water. But the second his fear of the waves overwhelmed his faith, he began to sink.
    figure.home__work__media 
      img.home__work__image(src="images/water.png", alt="")
    p.home__work__reference Matthew 14: 22 - 23

  .home__work 
    h4.home__work__title Calming Storms
    p.home__work__text
      | I and the guys were travelling by boat across the sea of Galilee when a violent storm arose, causing the waves to crash over the boat. The guys were terrified, thinking they would perish in the storm. But I was sleeping through the commotion, and the disciples woke Me up, wondering why I was sleeping through what they thought was their demise.
    p.home__work__text
      |I got up, rebuked the wind and the waves, and immediately the wind ceased and there was a great calm.
    figure.home__work__media 
      img.home__work__image(src="images/sailing__boat.png", alt="")
    p.home__work__reference Mark 4: 35-41

  .home__work 
    h4.home__work__title Raising Lazarus
    p.home__work__text
      | I received word that my dear fried Lazarus had fallen ill and was on the verge of death. The guys urged Me not to go to Bethany, where Lazarus lived, as the Jews were actively seeking to kill Me. But what are friends for? I went.
    p.home__work__text
      | When I arrived at Bethany, I found that Lazarus had already been in the tomb for four days. Nothing more than a long nap. I went to the tomb and commanded Lazarus to come out. And he woke up
    figure.home__work__media 
      img.home__work__image(src="images/tomb.png", alt="")
    p.home__work__reference John 11: 1-44