.home__works__cases {
  display: flex;
  // gap: 20rem;
  // margin-left: 20rem;
  gap: 36.3rem;
  margin-left: 36.3rem;
  margin-right: 20rem;
  @include media("<phone") {
    margin: unset;
    display: grid;
    gap: 11rem;
  }
}

.home__work__title {
  @extend %text-title-s;
  // width: 31.9rem;
  width: 67.9rem;
  opacity: 1;
  .char {
    opacity: 0;
  }
  @include media("<phone") {
    width: 31.6rem;
  }
}
.home__work__titling {
  display: block;
}
.home__work__text {
  @extend %text-m;
  margin: 3.3rem 0;
  line-height: 110.5%;
  @include media("<phone") {
    margin: 0.9rem 0;
    &:first-of-type {
      margin-top: 1.5rem;
    }
  }
}
.home__work__textling {
  display: block;
  margin-top: 2rem;
  @include media("<phone") {
    margin-top: 0.9rem;
  }
}
.home__work__media {
  position: absolute;
  @include media("<phone") {
    position: relative;
  }
}
.home__work__image {
  @include media("<phone") {
    position: unset;
  }
}
.home__work__reference {
  @extend %text-l;
  @include media("<phone") {
    font-size: 1.4rem;
    line-height: 1.5rem;
  }
}
