extends ../base.pug 

block variables
  - var template = "apostles"

block content 
  main.apostles
    .apostles__wrapper 
      .apostle
        h3.apostle__name Peter
      .apostle
        h3.apostle__name Andrew
      .apostle
        h3.apostle__name James
      .apostle
        h3.apostle__name John
      .apostle
        h3.apostle__name Philip
      .apostle
        h3.apostle__name Bartholomew
      .apostle
        h3.apostle__name Thomas
      .apostle
        h3.apostle__name Matthew
      .apostle
        h3.apostle__name James*
      .apostle
        h3.apostle__name Thaddeus
      .apostle
        h3.apostle__name Simon
      .apostle
        h3.apostle__name Judas