extends ../base.pug 

block variables
  - var template = "home"

block content 
  main.home
    .home__wrapper 
      header.home__title
        h1.home__title__text Jesus Christ 

      .home__intro 
        .home__into__wrapper
          figure.home__intro__media 
            img.home__intro__circle(src="images/jesus__text.svg", alt="")
            img.home__intro__statue(src="images/jesus__statue.png", alt="") 
          .home__intro__details
            p.home__intro__text 
              | Born in Bethlehem, Palestine. I am the Son of God. From an early age, I was always drawn to the work of My father. Educating scribes at the age of 8, I spent much of my life traveling, teaching and performing miracles, and spreading the message of love, compassion and forgiveness. I am a skilled speaker and teacher, with a following of billions. In every enconter, I touched the lives of individuals, offering them guidance, healing and salvation.
            p.home__intro__text 
              span.home__intro__subtext 
                | In the early days of My ministry, I called the 
              span.home__intro__subtext 
                a.home__intro__link Apostles &nearr; ,
              span.home__intro__subtext 
                | taugth them closely and empowered them to reach nations. From the work of these ones, Christianity has billions in following, and if you're here, you're probabably one too.

      .home__stats 
        .home__stats__wrapper 
          .home__stat 
            h3.home__stats__number 12
            p.home__stats__description Apostles Called
          .home__stat 
            h3.home__stats__number 03
            p.home__stats__description Temptations Overcome
          .home__stat 
            h3.home__stats__number 23
            p.home__stats__description Miracles Recorded
          .home__stat 
            h3.home__stats__number 03
            p.home__stats__description Times Denied

      .home__works 
        .home__works__wrapper 
          .home__works__heading
            h2.home__works__title Featured Works 
            figure.home__works__media
              img.home__works__bible(src="images/bible.png", alt="")
          include ../partials/works

      //- .home__tweets 
      //-   .home__tweets__wrapper 
      //-     .home__tweets__head
      //-       h2.home__tweets__title Live Updates 
      //-       p.home__tweets__subtitle 
      //-        |  Tweet with the Hashtag 
      //-        |  #insertHashtag 
      //-     .home__tweets__grid
      //-       .home__grid__wrapper
      //-         article.home__tweet
      //-         article.home__tweet
      //-         article.home__tweet
      //-         article.home__tweet
      //-         article.home__tweet
      //-         article.home__tweet
      //-         article.home__tweet
      //-         article.home__tweet

      //- .home__contact 
      //-   .home__contact__wrapper 
      //-     h2.home__contact__title Contact Me
      //-     p.home__contact__text 
      //-       | As the Son of God, I have a unique set of skillsand abilities that I can bring to your project. While I was on Earth, you could find me in the Temple flipping tables, or taking a casual stroll across the sea of Galilee. However, I am currently taking an extended vacation at my Father's House, seated at His right and. If you would like to discuss your need further, you can reach me through prayer at any time. I am always available to listen and offer guidance.
      //-       span.home__contact__closure I look forward to the opportunity to walk with you.

      //-   include ../partials/footer
      