.header {
  @extend %absolute;
  width: calc(76.2rem * 0.88);
  margin: 0 auto;
  top: 6.9rem;
  z-index: $z-3;
}
.header__wrapper {
  @include media("<phone") {
    display: none;
  }
}
.header__list {
  @extend %text-nav;
  min-height: calc(8.4rem - 2.6rem);
  padding: 1.3rem 1.9rem;
  // gap: 0.2rem;
  display: flex;
  justify-content: space-between;
  background: $color-white;
  border-radius: 1.5rem;
}
.header__item {
  // width: 11.5rem;
  padding: 0 2.3rem;
  display: grid;
  place-content: center;
  border-radius: 1rem;
  position: relative;
  z-index: $z-1;
  cursor: pointer;
  &:first-of-type {
    background: $color-black;
    color: $color-white;
    transition: 0.5s ease-in;
  }
}
.header__item__destination {
  @extend %link;
  color: inherit;
  height: 100%;
  width: 100%;
}
