.navigation {
  @extend %absolute;
  width: 76.2rem;
  margin: 0 auto;
  top: 6.9rem;
  z-index: $z-3;
}

.navigation__screen {
  display: block;
}

.navigation__screen__wrapper {
  @extend %fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: $color-white;
  top: 0;
  bottom: 0;
  gap: 1.7rem;
  // gap: 1.4rem;
  z-index: $z-1;
  padding-left: 6.5rem;
  // opacity: 0;
  pointer-events: none;
  transform: translateX(-100%);
  transition: 0.3s $ease-out-expo;

  @include media("<phone") {
    align-items: center;
    padding-left: unset;
    justify-content: flex-start;
    padding-top: 10.7rem;
    gap: 1.1rem;
  }
}

.navigation__screen__link {
  @extend %text-title;
  font-size: 14.4rem;
  line-height: 89%;
  color: $color-grayer;
  max-height: 13rem;
  transition: color 0.5s ease-in-out;

  &:hover {
    color: $color-black;

    .navigation__screen__icon {
      display: inline-block;
      opacity: 1;
      visibility: visible;
    }
  }

  @include media("<phone") {
    font-size: 7.34627rem;
  }
}

.navigation__screen__icon {
  position: absolute;
  padding: 2.1rem;
  // display: none;
  width: 10.283rem;
  height: 10.283rem;
  transition: opacity 0.5s ease-in-out;
  opacity: 0.5;
  visibility: hidden;

  @include media("<phone") {
    display: none !important;
  }
}

.open {
  // opacity: 1;
  pointer-events: all;
  transform: translateX(0);
}