.home__contact {
}
.home__contact__wrapper {
  margin: 27.5rem 0 0;
}
.home__contact__title {
  @extend %text-title-s;
  width: 65rem;
  &:after {
    content: "*";
  }
}
.home__contact__text {
  @extend %text-m;
  width: 72.5rem;
  margin-left: 44rem;
}
.home__contact__closure {
  display: block;
  margin-top: 2.025rem;
}
