.home {
  display: block;
  @include media("<phone") {
  }
}
.home__wrapper {
  @extend %body;
  // min-height: 527rem;
  min-height: 507.5rem;
  @include media("<phone") {
    // min-height: 850.7rem;
    min-height: 830rem;
    overflow-x: hidden;
    max-width: calc(100vw - clamp(0rem, 9rem, 900px));
  }
}
.home__title {
  // width: 52.1rem;
  width: 75rem;
  margin: 0 auto;
  @include media("<phone") {
    // width: 30rem;
    width: 36rem;
    margin: 0 -3rem;
    display: flex;
    justify-content: center;
    // margin: 0 -5rem;
  }
}
.home__title__text {
  @extend %text-title;
  text-align: center;
  color: $color-white;
}

.home__intro {
  display: block;
}
.home__into__wrapper {
  display: grid;
}
.home__intro__media {
  @extend %fixed;
  top: 50.3rem;
  width: 51.5rem;
  margin: 0 auto;
  display: grid;
  place-content: center;
  @include media("<phone") {
    width: 28.189rem;
    position: relative;
    bottom: 2.9rem;
    top: unset;
  }
}
.home__intro__circle {
  width: 20.7rem;
  animation: spin infinite 20s linear;
  margin: 0 auto;
  @include media("<phone") {
    width: 11.415rem;
  }
}
.home__intro__statue {
  width: 52.5rem;
  position: absolute;
  min-height: 77.705rem;
  top: 2.8rem;
  @include media("<phone") {
    width: 28.189rem;
    min-height: unset;
    position: relative;
    bottom: 9.5rem;
    top: unset;
    left: 0.2rem;
  }
}

.home__intro__details {
  margin-top: 19.7rem;
  display: grid;
  gap: 10rem;
  @include media("<phone") {
    margin-top: calc(5.278rem - 9.5rem - 2.9rem);
    gap: 2.5rem;
  }
}
.home__intro__text {
  @extend %text-m;
  width: 41.2rem;
  margin-left: 4rem;

  &:first-of-type {
    margin-left: auto;
  }
  @include media("<phone") {
    margin-left: unset;
    width: 30.5rem;
    margin-left: 0rem !important;
    &:last-of-type {
      transform: translateY(0) !important;
      -o-transform: translateY(0) !important;
      -ms-transform: translateY(0) !important;
      -moz-transform: translateY(0) !important;
      -webkit-transform: translateY(0) !important;
    }
  }
}

.home__intro__subtext {
}

.home__intro__link {
}
